/* #region global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--secondary-color);
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

.max-width > * {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* #endregion global */

/* #region colors */

:root {
  --primary-color: #1b212b;
  --primary-color-light: #45536a;
  --secondary-color: #f0f0f0;
}

/* #endregion colors */

/* #region menu */

.menu_container {
  width: 100%;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  height: 48px;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  gap: 32px;
}

nav ul li {
  list-style: none;
}

/* #endregion menu */

/* #region header */

header {
  background-image: url("images/mountains.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
  margin-top: -80px;
}

header > div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
}

.header_graphics {
  margin: 0 auto 0 40px;
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url("images/data-and-settings.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  header {
    height: 90vh;
  }

  header > div {
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 1fr;
    height: 90vh;
  }

  .header_graphics {
    margin: 0;
    max-width: 480px;
  }
}

/* #endregion header */

/* #region advantages */

#advantages {
  margin-top: -16px;
  padding-bottom: 160px;
  background: linear-gradient(180deg, var(--primary-color-light) 10%, var(--primary-color) 40%);
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px 32px;
}

.advantages_card {
  display: grid;
  grid-template-rows: auto auto;
  background-color: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 14px 20px 0px rgba(0, 0, 0, 0.15);
}

.advantages_card_graphics {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.8);
  width: 100%;
  aspect-ratio: 9 / 5;
}

.advantages_card:nth-child(1) .advantages_card_graphics {
  background-image: url("images/card-image-1.webp");
}

.advantages_card:nth-child(2) .advantages_card_graphics {
  background-image: url("images/card-image-2.webp");
}

.advantages_card:nth-child(3) .advantages_card_graphics {
  background-image: url("images/card-image-3.webp");
}

.advantages_card:nth-child(4) .advantages_card_graphics {
  background-image: url("images/card-image-4.webp");
}

.advantages_card:nth-child(5) .advantages_card_graphics {
  background-image: url("images/card-image-5.webp");
}

.advantages_card_text {
  padding: 24px;
}

/* #endregion advantages */

/* #region product */

#product {
  padding-top: 40px;
  padding-bottom: 160px;
}

.product_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.product_graphics {
  max-width: 100%;
  min-height: 550px;
  background-image: url("images/product-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 15%;
}

@media (max-width: 780px) {
  .product_container {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  }

  .product_graphics {
    order: 2;
  }

  .product_text {
    order: 1;
    margin-bottom: 32px;
  }
}

/* #endregion product */

/* #region highlight */

.highlight {
  padding-block: 80px;
  background-color: var(--primary-color);
}

.highlight_small_cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-block: 40px;
}

.highlight_small_cards > div {
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  box-shadow: 4px 14px 20px 0px rgba(0, 0, 0, 0.15);
  margin-inline: 40px;
}

@media (max-width: 600px) {
  .highlight_small_cards {
    flex-direction: column;
  }

  .highlight_small_cards > div {
    width: 100%;
    margin-inline: 0;
    text-align: center;
  }
}

/* #endregion highlight */

/* #region team */

#team {
  padding-top: 40px;
  padding-bottom: 160px;
}

#team article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#team article + article {
  margin-top: 40px;
}

#team article .team_graphics {
  max-width: 100%;
  min-height: 300px;
  background-image: url("images/team-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85% center;
}

#team article + article .team_graphics {
  order: 2;
  max-width: 100%;
  min-height: 300px;
  background-image: url("images/team-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* #endregion team */

/* #region contact */

#contact {
  padding-top: 40px;
  padding-bottom: 160px;
}

#contact_form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

label {
  display: block;
  padding-left: 8px;
  padding-bottom: 4px;
}

input,
#message {
  width: 100%;
  padding: 8px;
  border-radius: 18px;
  border: 1px solid var(--primary-color-light);
  font-size: 1rem;
}

.form_group:nth-child(3) {
  grid-column: 1/3;
}

#message {
  resize: none;
}

@media (max-width: 512px) {
  #contact_form {
    grid-template-columns: 1fr;
  }

  .form_group:nth-child(3) {
    grid-column: 1/2;
  }
}

/* #endregion contact */

/* #region footer */

footer {
  background-color: var(--primary-color);
  padding-block: 20px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

footer section {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
}

/* #endregion footer */
